*.app
*.ap~
*.bct
*.bpp
*.dct
*.dc~
*.dll
*.exe
*.exp
*.lnk
*.nps
*.sln.cache
*.scn
*.tps
*.txa
*.txd
map/
obj/
CoolBox/CoolBox.clw
CoolBox/*0*.clw
CoolBox/*_B*.clw
CoolBox/*0*.inc
CoolBox/*.ini
LegacyPeople/*.clw
LegacyPeople/*.inc
LegacyPeople/*.ini
*.LOG
