*.app
*.ap~
*.bct
*.bpp
*.dct
*.dc~
*.dll
*.exe
*.exp
*.sln.cache
*.scn
*.tps
*.txa
*.txd
map/
obj/
CoolBox/*.clw
CoolBox/*.inc
CoolBox/*.ini
LegacyPeople/*.clw
LegacyPeople/*.inc
LegacyPeople/*.ini
*.nps
