*.6app
*.app
*.ap~
*.bct
*.bpp
*.chw
*.dat
*.dct
*.dc~
*.dll
*.exe
*.exp
*.lnk
*.log
*.nps
*.old_dct
*.scn
*.sln.cache
*.tps
*.txa
*.txd
map/
obj/
CoolBox/CoolBox.clw
CoolBox/*0*.clw
CoolBox/*_B*.clw
CoolBox/*0*.inc
CoolBox/*.ini
LegacyPeople/*.clw
LegacyPeople/*.inc
LegacyPeople/*.ini
PLAYSND/*.clw
PLAYSND/*.inc
PLAYSND/*.ini
PLAYSND/*.wav
SoundBrowser/SoundBrowser.clw
SoundBrowser/*0*.clw
SoundBrowser/*_B*.clw
SoundBrowser/*0*.inc
SoundBrowser/*.ini
